html {
    transition: background-color 2s;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

#image {
    margin-top: 40px;
    display: none;
    width: 200px;
    height: 200px;
}

#title {
    margin: 40px;
}

.choice {
    margin: 40px;
    cursor: pointer;
    font-weight: 400;
}

#results {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
